# Route all requests to index.php if the requested file or directory does not exist
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule ^ index.php [QSA,L]
</IfModule>

# Fallback for servers without mod_rewrite
FallbackResource /index.php

